{% comment %}
  Lists posts for a given language.
  Usage: {% include post-list.html lang="en" %}
{% endcomment %}
<ul class="post-list">
  {% for post in site.posts %}
    {% assign post_lang = post.lang | default: site.default_lang %}
    {% if post_lang == include.lang %}
      <li class="post-list-item">
        <span class="post-list-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <a class="post-list-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        {% if post.excerpt and post.custom_excerpt %}
          <p class="post-list-excerpt">{{ post.excerpt }}</p>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
